.con {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
    row-gap: 3%;
}

.con:hover {
    background-color: rgba(255, 255, 255, 10%);
}