.con {
    display: flex;
    flex-direction: column;
    height: 100%;
    column-gap: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 5%;
    user-select: none;
    flex-wrap: nowrap;
}