.con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    column-gap: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    user-select: none;
    flex-wrap: nowrap;
}