.con {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex: 1;
    /* justify-content:; */
}

.con:hover {
    background-color: rgba(255, 255, 255, 10%);
}